<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Manga API</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/carousel.js">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">MANGA API</p>
        
    </div>
    <ul class="nav navbar-nav navbar-right">            
        <li id="github"><a href="https://github.com/xilatleo/DragonballsAPI" target="_blank">GITHUB</a></li>            
      </ul>
  </nav>

  <body>
    <div class="container">
