.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: #7487f8;
  
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-nav>li>a{
  color: white;
}
.navbar-nav  li a:hover {
  color: white !important;
}

.footer-padding {
padding-bottom: 60px;
}

.footer {
position: absolute;
text-align: center;
bottom: 0;
width: 100%;
height: 60px;
background-color: #7487f8;
}

.footer p {
margin-top: 25px;
font-size: 15px;
color: #fff;
}
